header > nav > ul > li > a[href="/contact-me"]{
    color: var(--accent-color)
}

h1{
    margin: 32px 0px 48px 0px ;
    color: white;
}

form{
    display: flex;
    flex-flow: column nowrap;
    gap:  16px;
    width: 288px;
}

label{
    color: var(--text-color);
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

.text-input{
    width: 288px;
}

input{
    height: 48px;
}

textarea{
    font-family: 'PT Sans';
    resize: none;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.submit-button{
    /*19px is the height of input labels in this page. Adding this as margin-top to the button helps make the page look more consistent*/
    appearance: none;
    box-sizing: border-box;
    align-self: center;
    
    background-color: var(--accent-color);
    box-shadow: -4px 4px var(--accent-shade);
    border: none;
    border-radius: 3px;
    
    color: var(--primary-color-2);
    font-size: 18px;
    width: 276px;
    margin-top: 19px;
    height: 48px;
}

.submit-button:active{
    transform: translate(-4px, 4px);
    box-shadow: none;
}

input, textarea{
    appearance: none;
    background: white;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 8px;
}

input:focus, textarea:focus{
    border: 3px solid var(--accent-color);
}

input::placeholder, textarea::placeholder{
    font-size: 14px;
    font-style: italic;
}

@media (min-width: 800px){
    form, .text-input{
        width: 384px;
    }
    .submit-button{
        width: 338px
    }
    h1{
        margin: 20px 0px 32px 0px ;
        color: white;
    }
    main > div > :nth-child(2){
        padding: 0px 0px 0px 48px;
    }
}

@media (min-width: 1200px){
    main > div > :nth-child(2){
        padding: 0px 0px 0px 92px;
    }
}