/* Custom Variables */
:root{
    --primary-color-1: #474448;
    --primary-color-2:  #2D232E;
    --text-color: #cfcfcd;
    --accent-color: #fe9f46;
    --accent-shade: #cc8039;
}
/* Adjusting Defaults */
html{
    height: 100%;
}
body{
    background-color: var(--primary-color-1);
    color: var(--text-color);
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}
p{
    margin: 0px;
}
figure{
    margin: 0px;
}

header{
    background-color: var(--primary-color-2);
    height: 92px;
}

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', sans-serif;
}

header > nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 20px;
}

/* Main */
main{
    display: flex;
    /*main content grows with the size of the viewport*/
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 64px;
}

/* Footer */
footer{
    background-color: var(--primary-color-2);
    padding: 16px 24px 0px 24px;
}

footer > div{
    margin-bottom: 24px;
}

footer a{
    color: var(--accent-color)
}

@media (min-width: 768px){
    header > nav > ul{
        width: 696px;
        justify-content: start;
        gap: 64px;
        box-sizing: border-box;
        padding-left: 20px;
    }

    footer > div{
        width: 696px;
        margin: 24px auto;
    }
}

@media (min-width: 1200px){
    header > nav > ul{
        width: 1192px;
    }
    footer > div{
        width: 1192px;
    }
}