
header > nav > ul > li > a[href="/"]{
    color: var(--accent-color)
}

main{
    margin-top: 64px;
}

/* Gallery Container*/
.gallery-container{
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
}

.gallery-container > figure,
.gallery-container > figure > img,
.gallery-container > figure > figcaption{
    width: 288px;
}

.gallery-container > figure{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: var(--primary-color-2);
    border-radius: 12px;
}

.gallery-container > figure > img{
    border-radius: 12px 12px 0px 0px;
}

.gallery-container > figure > figcaption{
    margin: auto 0;
    text-align: center;
    box-sizing: border-box;
    padding: 24px;
}

.gallery-container > figure > figcaption > span{
    color: var(--accent-color)
}

@media (min-width: 800px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 48px;
    }
    .gallery-container > figure,
    .gallery-container > figure > img,
    .gallery-container > figure > figcaption{
        width: 200px;
    }
}

@media (min-width: 1200px){
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 64px;
    }
    .gallery-container > figure,
    .gallery-container > figure > img,
    .gallery-container > figure > figcaption{
        width: 250px;
    }

}
