/* This stylesheet ensures consistency between the About Me and Contact Me pages */
main{
    margin-top: 0px;
}

main > div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 100%;
    text-align: justify;
}

main > div > img{
    max-width: 100%;
}

@media (min-width: 800px){
    main{
        margin: 64px 0px;
    }
    main > div{
        /*Centering the div vertically inside main, which is a flexbox*/
        margin: auto 0;
        height: min-content;
        flex-flow: row nowrap;
        border-radius: 12px;
    }
    main > div > img{
        width: 323px;
        border-radius: 12px 0px 0px 12px;
    }
    main > div > :nth-child(2){
        padding: 0px 32px 0px 32px;
    }
}

@media (min-width: 1200px){
    main > div > img{
        width: 512px;
    }
    main > div > :nth-child(2){
        padding: 0px 64px 0px 64px;
    }

}